body{
    background-color: rgb(53, 53, 83);

}
h1{
    text-align: center;
}
.contenedor{
    background-color: rgb(255, 255, 255);
    position: relative;
    border: black 5px solid;
    border-radius: 15px;
    width: 450px;
    height: 600px;
}